.header {
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
    @media screen and (max-width: 992px) {
    }
    @media screen and (max-width: 576px) {
        width: 100vw;
      }
      .header_wrapper{
        border-bottom: 1px solid #e4e5e7;
        width: 100%;
        @media screen and (max-width: 992px) {
          // margin-left: 40px;
        }
        .header_row{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            width: 100%;
            padding: 0 32px;
            overflow: hidden;
            @media only screen and (min-width: 1160px) {
                margin: 0 auto;
                max-width: 1400px;
              }
            @media screen and (max-width: 992px) {
              // margin-left: 40px;
            }
            
            .left{
                display: flex;
                align-items: center;
                @media screen and (max-width: 992px) {
                  margin-left: 40px;
                }
                @media screen and (max-width: 576px) {
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  justify-content: center;
                  padding: 20px 0 !important;
                }
                .btnBars{
                  display: none;
                  @media only screen and (max-width:1159px) {
                    display: block;
                }
                }
                .header-menu-icon{
                    display: none;
                    margin-right: 10px;
                    i {
                        font-size: 20px;
                    }
                    @media only screen and (max-width:1159px){
                        display: block;
                    }
                }
                .header_logo{
                    margin-right: 40px;
                        svg{
                            .dotblack {
                              fill: #1dbf73 !important;
                            }
                          }
                }
                .header_search {
                  display: block;
                  .search_form {
                    display: flex;
                    height: 42px;
                    @media screen and (max-width: 576px) {
                        
                    }
                    .search {
                      border: 1px solid #c5c6c9;
                      outline: none;
                      border-right-style: none;
                      padding: 10px 2px 10px 16px;
                      border-radius: 4px 0 0 4px;
                      @media screen and (max-width: 992px) {
                        border: 1px solid #c5c6c9;
                        border-radius:0 4px 4px 0;
                        width: 400px;
                      }
                      @media screen and (max-width: 768px) {
                        width: 300px;
                      }
                      @media screen and (max-width: 576px) {
                        width: 400px;
                        margin-top: 5px;
                      }
                      .icon {
                        svg {
                          color: #62646a !important;
                          font-size: 16px;
                        }
                      }
                      .inp {
                        outline: none;
                        border: none;
                        font-size: 16px;
                        height: 100%;
                        color: #62646a;
                        background: transparent;
                      }
                    }
                    .btn {
                      border: none;
                      color: #fff;
                      background: #1dbf73;
                      border-radius: 0 4px 4px 0;
                      padding: 0.375rem 0.75rem;
                      &:hover {
                        background: #19a463;
                      }
                      @media screen and (max-width: 992px) {
                        display: none;
                      }
                    }
                  }
                }
                .offcanvas {
                  .offcanvas-header,.offcanvas-body{
                    li {
                      list-style: none;
                      margin: 0 10px;
                      padding: 15px 6px;
                      transition: 0.3s;
                      font-weight: 600;
                      font-size: 16px;
                      color: #74767e;
                      cursor: pointer;
                      &:hover {
                        color: #1dbf37;
                      }
                      a {
                          color: #62646a;
                          font-size: 24px;
                          font-weight: 600;
                          margin-bottom: 16px;
                          padding-bottom: 20px;
                          border-bottom: 1px solid #e4e5e7;
                          text-decoration: none;
                          &:hover {
                              color: #1dbf37;
                          }
                        }
                        .btn-header-res {
                          background-color: #1dbf73;
                          border: none;
                          border-radius: 4px;
                          color: #fff;
                          padding: 12px 24px;
                          text-align: center;
                          text-transform: uppercase;
                          width: 150px;
                          a {
                            color: #1dbf73 !important;
                            font-size: 16px;
                          }
                          &:hover {
                            background: #19a463;
                            color: #fff !important;
                          }
                        }
                    }
                  }
                  
                }
            }
            .right{
                display: flex;
                justify-content: flex-end;
                @media screen and (max-width: 992px) {
                  display: none;
                }
                .header_navbar{
                    display: flex;
                    padding-top: 15px !important;
                    @media screen and (max-width: 992px) {
                      display: none;
                    }
                    .ul {
                        display: flex;
                        align-items: center;
                        list-style: none;
                        @media screen and (max-width: 992px) {
                          display: none;
                        }
                        li {
                          margin: 0 10px;
                          transition: 0.3s;
                          font-weight: 600;
                          font-size: 16px;
                          color: #74767e;
                          cursor: pointer;
                          &:hover {
                            color: #1dbf37;
                          }
                          @media screen and (max-width: 992px) {
                            display: none;
                          }
                          a {
                            margin: 0;
                            text-decoration: none;
                            transition: 0.3s;
                            font-weight: 600;
                            font-size: 16px;
                            color: #74767e;
                            cursor: pointer;
                            &:hover {
                                text-decoration: none;
                                color: #1dbf37;
                              }
                              @media screen and (max-width: 992px) {
                                display: none;
                              }
                            }
                          }
                        .fiver-link{
                            margin: 0 10px;
                            transition: 0.3s;
                            font-weight: 600;
                            font-size: 16px;
                            color: #74767e;
                            cursor: pointer;
                            &:hover {
                              color: #1dbf37;
                            }
                            @media only screen and (max-width:1159px) {
                                display: none;
                            }
                            @media screen and (max-width: 992px) {
                              display: none;
                            }
                        }
                        .fiver-link-active {
                            color: #1e1692;
                            &:hover {
                              color: #1dbf37;
                            }
                          }
                          .btn-success {
                            padding: 5px 15px;
                            background: #1dbf73;
                            border: 1px solid #1dbf37;
                            border-radius: 4px;
                            transition: color 0.5s ease, border 0.5s ease;
                            color: #fff !important;
                            @media screen and (max-width: 1300px) {
                              text-align: justify !important;
                            }
                            @media screen and (max-width: 992px) {
                              display: none;
                            }
                            @media only screen and (max-width:768px) {
                              display: none;
                            }
                            a {
                              color: white ;
                              text-decoration: none;
                            }
                            &:hover {
                              background: #19a463;
                              color: #fff !important;
                            }
                          }
                          
                    }
                }
            }
        }
      }
    }

.header-active {
  transition: all 0.5s ease;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  @media screen and (max-width: 576px) {
    width: unset;
  }
  .ul {
    li {
      a {
        color: #fff !important;
        &:hover {
          color: #fff;
        }
      }
      .join {
        color: #fff !important;
        border-color: #fff !important;
      }
    }
    li,
    .li_fiverr {
      color: #fff !important;
    }
  }
    .header_logo{
      svg{
        g {
          fill: #fff !important;
        }
        .dotblack {
          fill: #1dbf73 !important;
        }
      }
}
  .header_search {
    transition: all 0.5s ease;
    display: none !important;
    
  }
  .header_wrapper {
    transition: all 0.5s ease;
    border: none;
  }
}

.btn-header-res {
  background-color: #1dbf73;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  a {
    color: #1dbf73 !important;
    font-size: 16px;
    text-decoration: none;
  }
  &:hover {
    background: #19a463;
    color: #fff !important;
  }
}